body {
    text-align: center;
    background-color: fuchsia;
}

h1 {
    font-size: 100px;
    font-variant: small-caps;
    font-family: cursive;
    font-weight: bolder;
}

div {
    margin-top: 15px;
    color: fuchsia;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 50px;
    margin-left: 50px;
}

#q1 {
    font-size: 40px;
    font-weight: bolder;
}

#q2 {
    font-size: 40px;
    font-weight: bolder;
}

#img1 {
    width: 700px;
    height: 800px;
}

#img2 {
    width: 700px;
    height: 800px;
}

#img3 {
    width: 700px;
    height: 800px;
}

#img4 {
    width: 700px;
    height: 800px;
}
